body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
h1 {
  text-align: center;
  color: black;
}
h2 {
  text-align: center;
  color: black;
}
h3 {
  margin-bottom: 0;
  margin-top: 0;
}
#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}
#banner {
  width: 100%;
  object-fit: cover;
}
#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}
#leftside {
  width: 50%;
  padding-right: 8px;
}
#rightside {
  width: 50%;
}
a {
  text-decoration: none;
}
#navbar {
  padding: 8px;
}
#logo {
  height: 20px;
  margin: 0;
}
#teamimage {
  border-radius: 5px;
  width: 100%;
}

.location {
  color: gray;
  margin-bottom: 16px;
}
.apply {
  float: right;
}
#footer {
  background-color: wheat;
  padding: 8px;
  margin-top: 2px;
  text-align: center;
}
#footer-links {
  list-style: none;
  text-align: center;
}
#footer-links li {
  display: inline;
  margin: 16px;
}
#copyright {
  color: grey;
  margin-bottom: 6px;
}
