html {
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-family: "roboto", sans-serif;
  font-size: 1rem;
  color: #444444;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "inter", sans-serif;
  font-weight: 600;
  color: #222222;
}

h1 {
  text-align: center;
  color: #222222;
  font-size: 2.5rem;
}
h2 {
  text-align: center;
  color: black;
  font-size: 2rem;
}
h3 {
  margin-bottom: 0;
  margin-top: 0;
  font-size: 1.75rem;
}
#jobs {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 8px;
}
#jobs-table {
  width: 100%;
  border: 1px solid grey;
  border-collapse: collapse;
}
.jobs-header-row th {
  border: 1px solid grey;
  padding: 8px;
  background-color: #dbeafe;
  color: #222222;
}
.jobs-datarow td {
  border: 1px solid grey;
  padding: 8px;
}
#jobs-table tr:nth-child(odd) {
  background-color: #f0f4fa;
}
#banner {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#about {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  padding: 8px;
}
#leftside {
  width: 50%;
  padding-right: 8px;
  font-size: 1.25rem;
}
#rightside {
  width: fit-content;
}
a {
  text-decoration: none;
}
#navbar {
  padding: 8px;
}
#logo {
  height: 20px;
  margin: 0;
}
#teamimage {
  border-radius: 5px;
  width: 100%;
}

.location {
  color: gray;
  margin-bottom: 16px;
}
.apply {
  float: right;
}
#footer {
  background-color: #f0eaea;
  padding: 8px;
  margin-top: 32px;
  text-align: center;
}
#footer-links {
  list-style: none;
  text-align: center;
}
#footer-links li {
  display: inline;
  margin: 16px;
}
#copyright {
  color: grey;
  margin-bottom: 6px;
  font-size: 0.87rem;
}
a {
  text-decoration: none;
  color: rgb(4, 80, 80);
}
a:hover,
a:focus {
  color: #222222;
}
